<form id="frm" name="frm">
  <section id="3">

    <aside>
      <h2>Horários</h2>
      <!-- <a ng-href="#2" ng-click="setData()">↼</a> &#8636; -->
      <!-- <a ng-href="#4" ng-click="setData()">⇀</a> &#8640; -->
    </aside>

    <label for="REQ_DATA_SAIDA">Data de Saída</label>
      <input required autocomplete="off" name="REQ_DATA_SAIDA" type="text" id="REQ_DATA_SAIDA" placeholder="Data de Saída" ng-model="pedido.REQ_DATA_SAIDA" datetime-lite future>

    <label for="REQ_LOCAL_SAIDA">Local de Saída</label>
      <textarea required autocomplete="off" rows="3" id="REQ_LOCAL_SAIDA" name="REQ_LOCAL_SAIDA" type="text" maxlength="140" placeholder="Local de Saída" ng-model="pedido.REQ_LOCAL_SAIDA"></textarea>

    <label for="REQ_DATA_RETORNO">Data de Retorno</label>
      <input required autocomplete="off" name="REQ_DATA_RETORNO" type="text" id="REQ_DATA_RETORNO" placeholder="Data de Retorno" readonly ng-model="pedido.REQ_DATA_RETORNO" datetime-lite future="{{ pedido.REQ_DATA_SAIDA }}">

    <label for="REQ_LOCAL_RETORNO">Local de Retorno</label>
      <textarea required autocomplete="off" rows="3" id="REQ_LOCAL_RETORNO" name="REQ_LOCAL_RETORNO" type="text" maxlength="140" placeholder="Local de Retorno" ng-model="pedido.REQ_LOCAL_RETORNO"></textarea>


    <footer>
      <a ng-href="#2" ng-click="setData()">⇐</a><!-- &#8656; -->
      <a ng-href="#4" ng-hide="frm.$invalid" ng-click="setData()">⇒</a><!-- &#8658; -->
    </footer>
</section>
</form>
