<form id="frm" name="frm">
  <section id="1">

    <aside>
      <h2>Identificação</h2>
      <!-- <a>&#8636;</a> -->
      <!-- <a ng-href="#2" ng-click="setData()">⇀</a> -->
      <!-- &#8640; -->
    </aside>

    <label for="REQ_SOLICITANTE">Solicitante</label>
      <input required autocomplete="on" autofocus="true" id="REQ_SOLICITANTE" name="REQ_SOLICITANTE" type="text" maxlength="50" placeholder="Informe o Nome do Solicitante" pattern="[A-Za-zÀ-ú\s]+$" ng-model="pedido.REQ_SOLICITANTE" ng-length="2"/>
      <h3 ng-show="frm.REQ_SOLICITANTE.$invalid && frm.REQ_SOLICITANTE.$dirty">Aparentemente, foi informado um nome incorreto</h3>

    <label for="REQ_MATRICULA">Matrícula</label>
      <input required autocomplete="off" name="REQ_MATRICULA" type="number" min="0" id="REQ_MATRICULA" placeholder="SIAPE" pattern="[0-9]+$" ng-model="pedido.REQ_MATRICULA"/>
      <h3 ng-show="frm.REQ_MATRICULA.$invalid && frm.REQ_MATRICULA.$dirty">A matrícula deve conter apenas números</h3>

    <label for="REQ_EMAIL">E-mail</label>
      <input required autocomplete="off" name="REQ_EMAIL" type="email" id="REQ_EMAIL" placeholder="E-mail do Solicitante" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ng-model="pedido.REQ_EMAIL"/>
      <h3 ng-show="frm.REQ_EMAIL.$invalid && frm.REQ_EMAIL.$dirty">O email segue um padrão incorreto</h3>

    <label for="REQ_CELULAR">Celular</label>
      <input required autocomplete="on" name="REQ_CELULAR" type="text" id="REQ_CELULAR" maxlength="15" placeholder="Celular do Solicitante" pattern="\([0-9]{2}\) [0-9]{4,5}-[0-9]{4}$" ui-br-phone-number ng-model="pedido.REQ_CELULAR"/>
      <h3 ng-show="frm.REQ_CELULAR.$invalid && frm.REQ_CELULAR.$dirty">Insira um número telefônico válido</h3>

    <label for="REQ_SETOR">Setor</label>
      <input required autocomplete="on" autofocus="true" id="REQ_SETOR" name="REQ_SETOR" type="text" maxlength="50" placeholder="Setor do Solicitante" ng-model="pedido.REQ_SETOR"/>

    <label for="REQ_TELEFONE">Telefone / Ramal</label>
      <input autocomplete="on" name="REQ_TELEFONE" type="text" id="REQ_TELEFONE" maxlength="15" placeholder="Telefone do Solicitante" pattern="\([0-9]{2}\) [0-9]{4,5}-[0-9]{4}$" ui-br-phone-number ng-model="pedido.REQ_TELEFONE"/>
      <h3 ng-show="frm.REQ_TELEFONE.$invalid && frm.REQ_TELEFONE.$dirty">Insira um número telefônico válido</h3>

    <label for="REQ_CONTATO">Pessoa para Contato</label>
      <input required autocomplete="on" autofocus="true" id="REQ_CONTATO" name="REQ_CONTATO" type="text" maxlength="50" placeholder="Informe o Nome" pattern="[A-Za-zÀ-ú\s]+$" ng-model="pedido.REQ_CONTATO"/>
      <h3 ng-show="frm.REQ_CONTATO.$invalid && frm.REQ_CONTATO.$dirty">Aparentemente, foi informado um nome incorreto</h3>

    <label for="REQ_CONTATO_CEL">Celular</label>
      <input required autocomplete="on" name="REQ_CONTATO_CEL" type="text" id="REQ_CONTATO_CEL" maxlength="15" placeholder="Celular do Contato" pattern="\([0-9]{2}\) [0-9]{4,5}-[0-9]{4}$" ui-br-phone-number ng-model="pedido.REQ_CONTATO_CEL"/>
      <h3 ng-show="frm.REQ_CONTATO_CEL.$invalid && frm.REQ_CONTATO_CEL.$dirty">Insira um número telefônico válido</h3>

    <footer>
      <!-- <a>&#8656;</a> -->
      <a ng-href="#2" ng-hide="frm.$invalid" ng-click="setData()">⇒</a>
      <!-- &#8658; -->
    </footer>

  </section>
</form>
