<form id="frm" name="frm">
  <section id="2">

    <aside>
      <h2>Viagem</h2>
      <!-- <a ng-href="#1" ng-click="setData()">↼</a> &#8636; -->
      <!-- <a ng-href="#3" ng-click="setData()">⇀</a> &#8640; -->
    </aside>

    <div ng-init="passageiros.NOME[0] = pedido.REQ_SOLICITANTE; passageiros.MATRICULA[0] = pedido.REQ_MATRICULA; passageiros.CELULAR[0] = pedido.REQ_CELULAR"></div>


    <label for="REQ_DESTINO">Destino</label>
      <textarea required autocomplete="off" rows="3" id="REQ_DESTINO" name="REQ_DESTINO" type="text" maxlength="140" placeholder="Destino da Viagem" ng-model="pedido.REQ_DESTINO"></textarea>

    <label for="REQ_PASSAGEIROS">Passageiros</label>
      <input required autocomplete="off" name="REQ_PASSAGEIROS" type="number" min="1" max="45" id="REQ_PASSAGEIROS" placeholder="Número" pattern="[0-9]+$" ng-model="pedido.REQ_PASSAGEIROS"/>
      <h3 ng-show="frm.REQ_PASSAGEIROS.$invalid && frm.REQ_PASSAGEIROS.$dirty">Apenas números são permitidos</h3>

    <label for="REQ_MOTIVO">Motivo</label>
      <textarea required autocomplete="off" rows="4" id="REQ_MOTIVO" name="REQ_MOTIVO" type="text" maxlength="140" placeholder="Motivo da Viagem" ng-model="pedido.REQ_MOTIVO"></textarea>

    <label for="REQ_ROTEIRO">Roteiro</label>
      <textarea required autocomplete="off" rows="5" id="REQ_ROTEIRO" name="REQ_ROTEIRO" type="text" maxlength="140" placeholder="Roteiro da Viagem" ng-model="pedido.REQ_ROTEIRO"></textarea>


    <footer>
      <a ng-href="#1" ng-click="setData()">⇐</a><!-- &#8656; -->
      <a ng-href="#3" ng-hide="frm.$invalid" ng-click="setData()">⇒</a><!-- &#8658; -->
    </footer>

  </section>
</form>
