/* =========================
=                          =
=== Calendar================
=                          =
========================= */
#angular-datetime-lite {
  display: inline-block;
  position: absolute;
  z-index: 1000;
  float: left;
  width: 22rem;
  height: 22rem;
  font-size: auto;
  font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
  text-align: left;
  list-style: none;
  color: rgba(0,0,0,.75);
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select:none;
  user-select:none;
}



/* ========================= HEADER ========================= */
#angular-datetime-lite > header {
  font-weight: bold;
  cursor: default;
  text-align: center;
  height: calc(22rem / 8);
  line-height: 2.75rem;
}
#angular-datetime-lite > header > span {
  width: calc(100% - (22rem / 4));
  display: inline-block;
}
#angular-datetime-lite > header > button:focus {outline:none;}
#angular-datetime-lite > header > button::-moz-focus-inner {border:0;}
#angular-datetime-lite > header > button {
  color: #555;
  font: normal 14px sans-serif;
  outline: none;
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  height: calc(22rem / 8);
  width: calc(22rem / 8);
}
#angular-datetime-lite > header > span:hover,
#angular-datetime-lite > header > button:hover {
  color: #333;
  background-color: rgba(128,128,128,.125);
  border-radius: 4px;
}
#angular-datetime-lite > header > button:first-child {
  left: 0;
}
#angular-datetime-lite > header > button:last-child {
  right: 0;
}



/* ========================= BODY ========================= */
#angular-datetime-lite > section {
  width: 22rem;
  text-align: center;
}
#angular-datetime-lite > section > span,
#angular-datetime-lite > section > div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  border-radius: 4px;
	padding: .5rem;
	margin: 0;
}
#angular-datetime-lite > section.month > span,
#angular-datetime-lite > section.month > div {
  width: calc(22rem / 7);
  height: calc(22rem / 8);
  line-height: 1.75rem; /*height  - padding*/
}
#angular-datetime-lite > section.month > span {
  font-weight: bold;
  cursor: default;
}
#angular-datetime-lite > section.month > div {
  cursor: pointer;
}
#angular-datetime-lite > section.month > div:not(.curr) {
  color: rgba(128,128,128,.75);
	cursor: default;
}
#angular-datetime-lite > section.day > div:hover,
#angular-datetime-lite > section.hour > div:hover,
#angular-datetime-lite > section.year > div:hover,
#angular-datetime-lite > section.month > div.curr:hover {
  background-color: rgba(128,128,128,.125);
}
#angular-datetime-lite > section.month > div.selected {
  color: #fff;
	border-radius: 0;
	background-color: #3B6B36;
}
#angular-datetime-lite > section.month > div.selected:hover {
  background-color: #3B6B36;
}
#angular-datetime-lite > section.month:after {
  content: '';
  display: block;
  clear: left;
  height: 0;
}
#angular-datetime-lite > section.day > div {
  width: calc(22rem / 4);
  height: calc((22rem - 2.75rem) / 6);
  line-height: 2.21rem; /*height  - padding*/
}
#angular-datetime-lite > section.hour > div,
#angular-datetime-lite > section.year > div {
  width: calc(22rem / 4);
  height: calc((22rem - 2.75rem) / 3);
  line-height: 5.42rem; /*height  - padding*/
}
